In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel("covid-19.xlsx")

## cheek for null values

In [3]:
df.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [4]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [5]:
df.tail(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

# country with bigest cases

## Largest country/region with Confirmed cases

In [6]:
most_conf=df.loc[df.Confirmed==df["Confirmed"].max(),["Country/Region","Confirmed",'WHO Region']]
most_conf

    Country/Region  Confirmed WHO Region
173             US    4290259   Americas

## Largest country/region with fatalities

In [7]:
most_death=df.loc[df.Deaths==df["Deaths"].max(),["Country/Region","Deaths",'WHO Region']]
most_death

    Country/Region  Deaths WHO Region
173             US  148011   Americas

## Largest country/region with Recovered cases

In [8]:
most_Recovered=df.loc[df.Recovered==df["Recovered"].max(),["Country/Region","Recovered",'WHO Region']]

most_Recovered

   Country/Region  Recovered WHO Region
23         Brazil    1846641   Americas

## Largest country/region with active cases

In [9]:
most_act=df.loc[df.Active==df["Active"].max(),["Country/Region","Active",'WHO Region']] 
most_act

    Country/Region   Active WHO Region
173             US  2816444   Americas

## Confirmed cases

In [10]:
cases=df["Confirmed"].sum()
cases

16480485

## Confirmed deaths

In [11]:
Deaths=df["Deaths"].sum()
Deaths

654036

## Recovered cases

In [12]:
Recovered1=df["Recovered"].sum()
Recovered1

9468087

In [18]:
df.rename(columns={"1 week % increase":"increase_weekly"},inplace=True)

## the most country with large increase per week

In [19]:
most_inc=df.loc[df.increase_weekly==df["increase_weekly"].max(),["Country/Region","increase_weekly","WHO Region"]]
most_inc

       Country/Region  increase_weekly       WHO Region
130  Papua New Guinea           226.32  Western Pacific

# average of death & recovered & confirmed & active

In [20]:
avg_D=df["Deaths"].mean()
avg_D

3497.51871657754

In [21]:
avg_R=df["Recovered"].mean()
avg_R

50631.48128342246

In [22]:
avg_R=df["Confirmed"].mean()
avg_R

88130.935828877

In [23]:
avg_AC=df["Active"].mean()
avg_AC

34001.935828877

## MOST TOP 10 COUNTRY (CONFIRMED CASES)

In [24]:
top_confirmed=df.groupby("Country/Region").sum()["Confirmed"].sort_values().reset_index()
top_confirmed.tail(10)

     Country/Region  Confirmed
177            Iran     293606
178  United Kingdom     301708
179           Chile     347923
180            Peru     389717
181          Mexico     395489
182    South Africa     452529
183          Russia     816680
184           India    1480073
185          Brazil    2442375
186              US    4290259

##  MOST TOP 10 COUNTRY(death cases)

In [25]:
top_deaths=df.groupby("Country/Region").sum()["Deaths"].sort_values().reset_index()
top_deaths.tail(10)

     Country/Region  Deaths
177            Iran   15912
178            Peru   18418
179           Spain   28432
180          France   30212
181           India   33408
182           Italy   35112
183          Mexico   44022
184  United Kingdom   45844
185          Brazil   87618
186              US  148011

## MOST TOP 10 COUNTRY(Recovered cases)

In [26]:
top_recov=df.groupby("Country/Region").sum()["Recovered"].sort_values().reset_index()
top_recov.tail(10)

    Country/Region  Recovered
177       Pakistan     241026
178           Iran     255144
179           Peru     272547
180   South Africa     274925
181         Mexico     303810
182          Chile     319954
183         Russia     602249
184          India     951166
185             US    1325804
186         Brazil    1846641

## describe the region statistics

In [27]:
df.groupby("WHO Region").describe()

                      Confirmed                                                \
                          count           mean            std    min      25%
WHO Region
Africa                     48.0   15066.812500   65087.434387   10.0   910.00
Americas                   35.0  252551.028571  817100.096342   17.0   265.00
Eastern Mediterranean      22.0   67761.090909   93399.654809  674.0  3367.50
Europe                     56.0   58920.053571  127226.689411   12.0  2157.50
South-East Asia            10.0  183529.700000  461327.177069   24.0   963.75
Western Pacific            16.0   18276.750000   29427.554873   20.0   204.75

                                                    Deaths               ...  \
                           50%       75%        max  count         mean  ...
WHO Region                                                               ...
Africa                  2129.5   7088.50   452529.0   48.0   254.645833  ...
Americas                7340.0  76171.00  4290259.0   35.0  9792.342857  ...
Eastern Mediterranean  28575.0  88626.00   293606.0   22.0  1742.681818  ...
Europe                 12191.0  51077.50   816680.0   56.0  3770.428571  ...
South-East Asia         3333.0  79915.25  1480073.0   10.0  4134.900000  ...
Western Pacific         1009.5  19262.75    86783.0   16.0   515.562500  ...

                      1 week change           increase_weekly             \
                                75%       max           count       mean
WHO Region
Africa                       771.00   78901.0            48.0  18.086458
Americas                    8603.00  455582.0            35.0  16.331143
Eastern Mediterranean       4482.00   17892.0            22.0  10.482273
Europe                      2639.00   40468.0            56.0   7.769643
South-East Asia             9293.75  324735.0            10.0   8.513000
Western Pacific             1571.50   13142.0            16.0  22.111250


                             std   min     25%     50%      75%     max
WHO Region
Africa                 29.029858  0.00  4.6250  10.555  21.4550  191.07
Americas               20.535095  0.00  4.4100  12.970  19.4500  119.54
Eastern Mediterranean  11.860347 -3.84  3.1775   5.755  17.3325   42.78
Europe                  7.904270  0.00  2.2325   4.335  10.4200   32.22
South-East Asia         8.365745  0.00  2.6675   7.070  11.7550   28.11
Western Pacific        55.382071  0.00  1.0600   4.030  19.5900  226.32

[6 rows x 104 columns]

In [28]:
df[["Deaths","Recovered"]].corr() #there a correlation between (Deaths & Recovered)

             Deaths  Recovered
Deaths     1.000000   0.832098
Recovered  0.832098   1.000000